@model IEnumerable<CF__MVC_Project.Models.bookVM>

<h2>All Book List</h2>

<p>
    @Html.ActionLink("Add New Book", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.stockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cover)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.cover)*@
                <img width="200" src="~/coverimage/@Html.DisplayFor(modelItem => item.cover)" alt="No Picture" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-primary" })

                @using (Html.BeginForm("Index", "Books", new { id = item.id }))
                {
                    @*@Html.HiddenFor(modelItem => item.id)*@
                    <input type="submit" value="Delete" class="btn btn-danger" />
                }
            </td>
        </tr>
    }

</table>
