@model CF__MVC_Project.DAL.bookSale


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>bookSale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.book.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.book.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.quantity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.quantity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.saleDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.saleDate)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.saleID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
