@model IEnumerable<CF__MVC_Project.DAL.bookSale>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.book.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saleDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.book.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saleDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.saleID }) |
                @Html.ActionLink("Details", "Details", new { id=item.saleID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.saleID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
